<% for(var i=0; i<posts.length; i++) {%>
<div class="card card-side bg-base-100 shadow-xl w-[355px] sm:w-[600px] pb-3 pt-3">
  <div class="card-body">
    <div class="flex flex-col mb-4 text-sm">
      <p>Posted on: <%= posts[i].createdAt.toLocaleDateString() %></p>
      <p>At: <%= posts[i].createdAt.toLocaleTimeString() %></p>
    </div>
    <h2 class="card-title text-2xl border-b-2"><%= posts[i].title %></h2>
    <h2 class=""><span class="font-bold">Posted by:</span> <%= user.userName.split("@")[0] %></h2>
    <h3><span class="font-bold">Bodypart:</span> <%= posts[i].liftCategory %></h3>
    <p><span class="font-bold">Description:</span> <%= posts[i].caption %>.</p>
    <div class="card-actions flex-nowrap justify-between mt-10">

      <button class="btn btn-primary" href=""><a href="/post/<%= posts[i]._id%>">View post</a></button>

    </div>
  </div>
</div>
<% } %>