<% for(var i=0; i<posts.length; i++) {%>
  <div class="flex items-center justify-center">
    <div class="bg-white w-[365px] rounded-xl border-none p-5 shadow-md md:w-[600px]">
      <div class="flex w-full items-center justify-between border-b pb-3">
        <div class="flex items-center space-x-3">
          <div class="bg-slate-400 h-8 w-8 rounded-full bg-[url('https://i.pravatar.cc/32')]"></div>
          <div class="text-md text-slate-700 font-bold"><%= user.userName.split("@")[0] %></div>
        </div>
        <div class="flex items-center space-x-8">
          <button class="btn-accent mx-2 rounded-2xl border px-5 py-1 text-xs font-semibold"><%= posts[i].liftCategory %></button>
          <div class="text-neutral-500 text-xs"><%= posts[i].createdAt.toLocaleDateString()%> @ <%= posts[i].createdAt.toLocaleTimeString() %></div>
        </div>
      </div>
      <div class="flex">
        <div class="flex flex-col-reverse items-center justify-center">
          <video controls="controls" name="Video Name" class="w-3/4 md:w-3/5">
            <source src="<%= posts[i].video%>" />
          </video>
          <div class="text-md my-10 w-[300px] break-words font-bold">
            <h2 class="text-center text-lg"><%= posts[i].title %></h2>
          </div>
        </div>
      </div>
      <div>
        <div class="text-slate-500 mt-5 flex items-center justify-between px-2">
          <div class="flex space-x-4 md:space-x-8">
            <div class="hover:text-slate-600 flex cursor-pointer items-center transition">
              <button class="btn btn-primary mt-2" href=""><a href="/post/<%= posts[i]._id%>">View post</a></button>
            </div>
          </div>
          <%if(posts[i].user == user.id){ %>
          <div class="flex items-center justify-end">
            <form action="/post/deletePost/<%= posts[i]._id %>?_method=DELETE" method="POST">
              <button class="hover:opacity-50" type="submit">Delete Post</button>
            </form>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <% } %>
</posts.length;>
