<%- include('partials/header') -%>

<div class="flex w-full flex-col justify-center items-center bg-customMain text-customText">
  <div class="container bg-customSecondary sm:w-3/5 flex flex-col items-center justify-center space-y-4 px-2">
    <div class="flex w-full sm:text-xl p-2 mt-6">
      <h3 class="text-customAccent font-semibold"><%= post.user.userName.split("@")[0] %><span class="text-gray-400"> ~ <%= post.createdAt.toLocaleTimeString() %></span></h3>
    </div>
    <div class="flex flex-col text-center md:w-3/4 px-2">
      <h1 class="text-xl text-center my-5 font-semibold break-words">
        <%= post.title%>
      </h1>
      <h2 class="text-md text-center my-6 break-words">
        <%= post.caption %>
      </h2>
    </div>
    <div class="flex justify-center items-center">
      <video controls="controls" name="Video Name" class="block h-full lg:w-1/2">
        <source src="<%= post.video%>">
      </video>
    </div>
<!-- SUBMIT COMMENT -->
    <div class="w-full mt-5 shadow-lg px-1 flex flex-col justify-center item">
      <div class="space-y-4">
        <div class="bg-white">
          <div class="flex-1 border rounded-lg px-4 py-2 sm:px-6 sm:py-4 leading-relaxed"> 
            <div class="mt-5">
              <form action="/comment/createComment/<%=post._id%>" method="POST" class="flex flex-col items-center justify-evenly">
                <div class="mb-3 w-full">
                  <textarea class="form-control text-xl text-left border-2 mb-2 p-2 w-full text-primary" rows="5" placeholder="Comment on <%= post.user.userName.split("@")[0] %>'s post..." name='comment' id="comment" type="text"></textarea>
                </div>
               <button type="submit" class="btn bg-customButton mb-5 border-none rounded">Submit</button>
              </form>
            </div> 
            <h4 class="my-5 uppercase tracking-wide text-gray-400 font-bold text-xs">Comments</h4>
<!-- COMMENT SECTION -->
          <div class="space-y-6">
            <% let mostLikes = 0 %>
            <% for(var i=0; i<comments.length; i++) {%>
            <div class="flex justify-center items-center w-full">
              <div class="mr-3 justify-center">
                <img class="rounded-full w-8 h-8 sm:w-8 sm:h-8 mb-3" src="https://img.icons8.com/color/48/000000/test-account.png" alt="">
                <div class='flex flex-col justify-evenly text-center'>
                  <form class="" action="/comment/likeComment/<%=post._id %>/<%=comments[i]._id %>?_method=PUT" method="POST" class="flex justify-end">
                    <button class="" type="submit"><i class="fa-regular fa-thumbs-up fa-lg text-green-700"></i></button>
                  </form>
                  <h2><%= comments[i].likes.length %></h3>
                    <form class="" action="/comment/dislikeComment/<%= post._id %>/<%=comments[i]._id %>?_method=PUT" method="POST" class="flex justify-end">
                      <button class="" type="submit"><i class="fa-regular fa-thumbs-down fa-lg text-red-800"></i></button>
                    </form>
                </div>
              </div>
              <div class="flex-1 bg-customMain rounded-lg px-4 py-2 sm:px-6 sm:py-4 leading-relaxed w-3/4">
                <% if(comments[i].likes.length > mostLikes) { %>
                  <p class="font-semibold flex items-center text-customAccent"><i class="fa-solid fa-dumbbell pr-2 text-customAccent"></i>Best Critique</p>
                <% mostLikes = comments[i].likes.length %>
                <% } %> 
                <span class="font-semibold"><%=comments[i].user.userName.split("@")[0]%></span> <span class="text-xs text-gray-400">@ <%= comments[i].createdAt.toLocaleTimeString() %></span>
                <p class="w-full text-sm md:text-md lg:text-lg break-words">
                  <%= comments[i].comment %>
                </p>
              </div>
            </div>
            <% if(comments[i].user.userName == user.userName ){ %>
              <div class="flex items-center justify-end">
                <form action="/comment/deleteComment/<%= comments[i]._id %>?_method=DELETE" method="POST" class="mt-0">
                  <button class="hover:opacity-50" type="submit">Delete Comment</button>
                </form>
              </div>
              <% } %>
            <% } %>
           </div>
         </div>
       </div>
     </div>
   </div>
  </div>
</div>




<%- include('partials/footer') -%>
