<%- include('partials/header') -%>

<div class="bg-customMain text-customText mt-5">
    <div class="grid grid-cols-1 md:grid-cols-3 items-center">
      <div class="order-last mt-20 grid grid-cols-2 text-center md:order-first md:mt-0">
        <div class="text-center">
          <p class="text-customText text-2xl font-bold"><%- posts.length %></p>
          <p class="text-gray-400 text-2xl">Post</p>
        </div>
        <div class="text-center">
          <% let commentCount = 0 %>
          <% for(var i=0; i<comments.length; i++) { %>
            <% if(comments[i].user.userName == user.userName) commentCount ++ %>
              <% } %>
          <p class="text-customText text-2xl font-bold"><%= commentCount %></p>
          <p class="text-gray-400 text-2xl">Comments</p>
        </div>
      </div>
      <div class="relative mt-12">
        <div class="bg-customSecondary text-customAccent inset-x-0 top-0 mx-auto flex h-48 w-48 items-center justify-center rounded-full shadow-2xl">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-24 w-24" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
          </svg>
        </div>
      </div>
      <div class="mt-32 flex justify-evenly items-center space-x-8 md:mt-0 md:justify-evenly">
        <button class="btn bg-customButton transform rounded py-2 px-4 font-medium uppercase shadow transition hover:-translate-y-0.5 hover:shadow-lg">
          <a href="/feed/">View Feed</a>
        </button>
        <button class="btn bg-customButton transform rounded py-2 px-4 font-medium uppercase shadow transition hover:-translate-y-0.5 hover:shadow-lg" id="goToPost">View Posts</button>
      </div>
    </div>

    <div class="mt-16 mx-auto md:w-3/4 text-customText py-3">
      <div class="flex flex-col items-center bg-customSecondary rounded-2xl shadow-md py-5">
        <h3 class="mt-2 text-center text-2xl font-bold lg:px-16">Upload a video and get some feeback:</h3>
        <h4 class="text-center text-gray-400 px-1 mt-2">Due to server limits, please upload videos 15 seconds or less in duration. Files too large will be denied.</h4>
        <form action="/post/createPost" encType="multipart/form-data" method="POST" id='upload-form' class="container mt-10 flex flex-col items-center justify-evenly md:w-3/4 gap-y-10 px-4">
          <input type="hidden" id="timezoneOffset" name="timezoneOffset">
          <div class="flex flex-col gap-y-3 w-full">
            <h3 class="text-center text-2xl">Post title:</h3>
            <input type="text" class="bg-customMain border-none placeholder-gray-400 form-control mb-4 border-2 p-1 text-xl text-subColor" id="title" name="title" placeholder="Post Title..." />
            <h3 class="text-center text-2xl">Your video:</h3>
            <input type="file" class="bg-customMain border-none form-control mb-4 p-1 text-xl" id="video" name="video" />
            <h3 class="text-center text-2xl">Body part:</h3>
            <select class="bg-customMain border-none mb-4 border-2 text-center text-2xl text-subColor" name="liftCategory" id="liftCategory">
              <option value="Chest">Chest</option>
              <option value="Shoulders">Shoulders</option>
              <option value="Back">Back</option>
              <option value="Arms">Arms</option>
              <option value="Legs">Legs</option>
              <option value="Core">Core</option>
            </select>
          </div>
          <div class="flex flex-col items-center">
            <textarea class="w-full bg-customMain border-none form-control mb-2 border-2 p-2 text-left text-xl text-subColor" id="caption" name="caption" placeholder="What do you need help with..." rows="10" cols="60"></textarea>
            <button type="submit" id="submit-button" class="w-50 btn bg-customButton border-none transform rounded py-2 px-4 font-medium uppercase shadow transition hover:-translate-y-0.5 hover:shadow-lg" value="Upload">Submit</button>
          </div>
        </form>
      </div>
    </div>
</div>


<div class="container mx-auto flex flex-col justify-start items-center">
  <h3 class="text-center text-3xl text-customText lg:px-16 mb-5 border-b-2 mt-10" id="viewPost">Your Post</h3>
  <%- include('partials/post') -%>
</div>
<script>
  let getTime = document.getElementById('upload-form');
getTime.addEventListener('submit', function(e) {
  e.preventDefault();
  let timezoneOffset = new Date().getTimezoneOffset();
  document.getElementById('timezoneOffset').value = timezoneOffset;
});
</script>

<%- include('partials/footer') -%>
